html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar{
    background-color: rgba(237, 235, 217, 0.871);
}

table {
    width: 100%;
}

.card{
    width: 90%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}
  
.mat-mdc-row:hover .mat-mdc-cell {
border-color: currentColor;
}
  
.demo-row-is-clicked {
font-weight: bold;
}

.mat-elevation-z8 {    
overflow-x: auto;
}